*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#mouseOut {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
    margin: 5% 30%;
  background-color: pink;
}